

<aside id="nav">
  <ul id="nav-link-container">
    <li id="nav-link"><a href="#">My links</a></li>
    <li id="nav-link"><a href="#">Popular links</a></li>
    <li id="nav-link"><a href="#">New links</a></li>
  </ul>
  </aside>

<aside id="news-feed">
</aside>

<%= erb :_link_management %>

  <% if @links.any? %>
    <ul id='links-list'>
      <% @links.each do |link| %>

        <li id='link-container'>

          <section id="link">
            <div id="bookmark-ribbon">
              <a id="link-title" href="https://<%= link.url %>"><%= link.title %></a>
            </div>
          </section>

          <section id='tags'>
            <% if link.tags.any? %>
              <% link.tags.each do |tag| %>
                  <a href="#" id='tag'><%= tag.text %></a>
              <% end %>
            <% end %>
          </section>

          <section id="posted-by">
            Posted by <%= User.get(link.user_id).username %>
          </section>

        </li> 
      <% end %>
    </ul>
  <% else %>
    <h3 id="no-links">There are no links to display right now</h3>

<% end %>
